@tailwind base;
@tailwind components;
@tailwind utilities;

p{
    @apply mb-2;
}

ul li{
    @apply mb-1;
}

.wrapper{
    width: 1024px;
}

@media print {
    .print-page {page-break-after: always;}
    .italic {
        font-family: Helvetica, Arial, sans-serif;
    }

    .print-max-h-screen {
        max-height: 100vh;
    }
}

@page {
    margin: 0.5cm;
}
